.paye-v-line {
    font-family: 'Montserrat', sans-serif;
    height: 500px;
    width: 1px;
    background-color: rgba(243, 243, 243, 0.658)!important;
    margin-left: 90px;
}

p {
    line-height: 8px;
}

.badge {
    position: absolute;
    left: 45px!important;
}

select::-ms-expand {
    display: none;
}