.SideDrawer {
	width: 280;
	top: 101;
	z-index: 1040;
	height: calc(100vh - 101px);
}

.SideDrawer .backdrop {
	height: calc(100vh - 101px);
}

.SideDrawer nav.navbar {
	max-height: calc(100vh - 140px);
	overflow-y: auto;
	scrollbar-color: var(--danger);
	scrollbar-width: 3px;
}

.SideDrawer nav.navbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

.SideDrawer nav.navbar::-webkit-scrollbar {
	width: 3px;
	background-color: #F5F5F5;
}

.SideDrawer nav.navbar::-webkit-scrollbar-thumb {
	background-color: var(--danger);
}

@media (max-width: 992px) {}