.BackEnd main {
    padding-left: 0;
    transition: all 0.25s;
}

.BackEnd footer {
    width: 100%;
    bottom: 0;
}

.BackEnd .Toast {
    z-index: 1040;
    top: unset;
    left: 0;
    bottom: 0;
    width: 320px;
}

@media (min-width: 768px) {
    .BackEnd main {
        padding-left: 280px;
    }

    .BackEnd.expanded main {
        padding-left: 60px;
    }

    .BackEnd footer {
        width: calc(100% - 280px);
    }

    .BackEnd.expanded footer {
        width: calc(100% - 60px);
    }
}
