.UserPlan.hover .block {
    transform: scale(1) rotate(0deg);
    transform-origin: center;
    transition: scale .25s;
    scale: 1;
}

.UserPlan.hover:hover .block {
    /* transform: scale(1.05); */
    scale: 1.05;
}

.UserPlan.hover.selected .block {
    transform: scale(1) rotateY(180deg);
    transition: all .25s;
    scale: 1;
}

.UserPlan.hover .main {
    transform: rotateY(0deg) scale(1);
    transition: none;
}

.UserPlan.hover.selected .main {
    transform: rotateY(180deg);
    transition: all .25s;
}

.UserPlan.hover .select {
    opacity: 0;
    transform: translateY(-00%) rotateY(0deg);
    transition: all .25s;
}

.UserPlan.hover:hover .select {
    opacity: 1;
    transform: translateY(0%);
}

.UserPlan.hover.selected .select {
    opacity: 0;
    transform: translateY(0%) rotateY(180deg);
}

.UserPlan .Progress, .UserPlan .Info {
    top: calc(50% - 1rem);
    left: 50%;
    transform: translate(-50%, calc(-50% + 5px)); 
    scale: .8;
}

.UserPlan .embed-responsive {
    width: 60%;
}

@media (min-width: 400px) {
    .UserPlan .embed-responsive {
        width: 55%;
    }
    .UserPlan .Progress, .UserPlan .Info {
        scale: .9;
    }
}

@media (min-width: 600px) {
    .UserPlan .embed-responsive {
        width: 50%;
    }
    .UserPlan .Progress, .UserPlan .Info {
        scale: 1;
    }
}